<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{{ title | default("Network Graphs") }}</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/netspryte.css" rel="stylesheet">
    <style type="text/css">
     img {
       max-width: 100%;
       max-height: 100%;
     }
     body {
       padding-top: 50px;
     }
     .section {
       padding-top: 50px;
     }
     .scrollable-menu {
       height: auto;
       max-height: 600px;
       overflow-x: hidden;
     }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top" >
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/#"><img src="/images/nero-logo.png" width="60"></a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="#graphs">Network Graphs</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li id="fat-menu" class="dropdown">
              <a href=# class="dropdown-toggle" id="graphs_drop" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Graphs <span class="caret"></span> </a>
              <ul class="dropdown-menu scrollable-menu" aria-labelledby="graphs_drop">
                {% for data in data_sets | selectattr("_do_graph") %}
                {% if data['_description'] == "" %}
                  {%   continue %}
                  {#
                  Ignore the following ifTypes:
                  32 - framerelay
                  49 - aal5
                  63 - isdn
                  77 - lapd
                  81 - ds0
                  134 - atmSubInterface
                  166 - mpls
                  #}
                {% elif 'ifType' in data and data['ifType'] in ["32", "49", "63", "77", "81", "134", "166"] %}
                  {%   continue %}
                {% elif 'ifAdminStatus' in data and data['ifAdminStatus'] == 'down' %}
                  {%   continue %}
                {% elif 'cbQosPolicyDirection' in data and data['cbQosPolicyDirection'] == 'input' %}
                  {%   continue %}
                {% endif %}
                    <li><a href="#{{ data['_id'] }}">{{ data['_title'] }}</a></li>
                {% endfor %}
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12" id="graphs">
          {% for data in data_sets | selectattr("_do_graph") %}
            {% if data['_description'] == "" %}
              {%   continue %}
              {#
              Ignore the following ifTypes:
              32 - framerelay
              49 - aal5
              63 - isdn
              77 - lapd
              81 - ds0
              134 - atmSubInterface
              166 - mpls
              #}
            {% elif 'ifType' in data and data['ifType'] in ["32", "49", "63", "77", "81", "134", "166"] %}
              {%   continue %}
            {% elif 'ifAdminStatus' in data and data['ifAdminStatus'] == 'down' %}
              {%   continue %}
            {% elif 'cbQosPolicyDirection' in data and data['cbQosPolicyDirection'] == 'input' %}
              {%   continue %}
            {% endif %}
            <div class="section" id="{{ data['_id'] }}">
              <h3 class="page-header">{{ data['_description'] }}</h3>
              <p>
                {% for period in graph_periods %}
                  {% for graph in graph_defs %}
                    {% if data['_class'] in graph %}
                      <a href="{{ data['_id'] }}.html">
                        <img id="img" src="{{www_cgi_url }}?id={{ data['_id'] }};start={{ period }};gdef={{ graph }}"/>
                      </a><br/>
                    {% endif %}
                  {% endfor %}
                {% endfor %}
              </p>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script type="text/javascript">
      window.onload = function() {
        var images = document.getElementById("img");
        var sleep = Math.floor(Math.random() * 300) + 300;
        var magic = ";sleep=" + sleep + "-" + new Date().getTime();
        function updateImage() {
           if (images.src.indexOf(";sleep") < 0)
             images.src = images.src + magic
           else
             images.src = images.src.substring(0, images.src.lastIndexOf(";sleep=")) + magic;
        }
        setInterval(updateImage, sleep * 1000);
      }
    </script>
  </body>
</html>
