<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="nocache nofollow noarchive" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{{ title | default("Network Graphs") }}</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/netspryte.css') }}" rel="stylesheet">
    <script type="text/javascript">var images = new Array();</script>
  </head>
  <body>

    <header class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/#"><img src="{{ url_for('static', filename='images/nero-logo.png') }}" width="60"></a>
        </div>
        <nav class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="#graphs">Network Graphs</a></li>
            <li class="dropdown">
              <a href=# class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Related <span class="caret"></span> </a>
              <ul class="dropdown-menu scrollable-menu">
                {% for k, v in related.iteritems() %}
                {% set paraml = k.split('=') %}
                {% set paramd = { paraml[0] : paraml[1] } %}
                <li><a href="{{ url_for('hello', **paramd) }}">{{ v }}</a></li>
                {% endfor %}
              </ul>
            </li>
            <li class="dropdown">
              <a href=# class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Graphs <span class="caret"></span> </a>
              <ul class="dropdown-menu scrollable-menu">
                {% for candidate in measurement_instances -%}
                <li><a href="#{{ candidate.name }}">{{ candidate.presentation['title'] }}</a></li>
                {% endfor -%}
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </header>


    <div class="container-fluid">
      {% include "pagination.html" %}
      {% for candidate in measurement_instances -%}
      <div class="row">
        <div class="col-md-12" id="graphs">
          <div class="panel panel-default" id="{{ candidate.name }}">
            <div class="panel-heading">
              <h3 class="panel-title">{{ candidate.presentation['description'] }}</h3>
            </div>
            <div class="panel-body">
              <p>
                {% for graph in graph_defs -%}
                {% if candidate.measurement_class.name in graph -%}
                {% for period in graph_periods -%}
                {% set imgid = candidate.id|string + graph + period -%}
                <a href="{{ url_for('hello', instance=candidate.name ) }}">
                  <img id="img{{ imgid }}" src="{{ url_for('get_graph', name=candidate.name, start=period, gdef=graph) }}" class="img-responsive center-block"/>
                </a><br/>
                <script type="text/javascript">images.push("img{{ imgid }}");</script>
                {% endfor -%}
                {% if not loop.last -%}
                <hr/>
                {% endif -%}
                {% endif -%}
                {% endfor -%}
              </p>
            </div>
          </div>
        </div>
      </div>
      {% endfor -%}
      {% include "pagination.html" %}
    </div>

    <footer class="navbar">
      <div class="container">
        <nav class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-left">
            {% for tag in tags %}
            <a class="btn btn-default" href="{{ url_for('hello', tag=tag.name) }}">{{ tag.name }}</a>
            {% endfor %}
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="https://github.com/sfromm/Netspryte">netspryte</a></li>
          </ul>
        </nav>
      </div>
    </footer>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type="text/javascript">
     window.onload = function() {
       var MIN = 300;
       var sleep = Math.floor(Math.random() * MIN) + MIN;
       function updateImage() {
         for (i = 0; i < images.length; i++) {
           var image = document.getElementById(images[i]);
           var magic = "&sleep=" + sleep + "-" + new Date().getTime();
           if (image.src.indexOf("&sleep") < 0)
             image.src = image.src + magic
           else
             image.src = image.src.substring(0, image.src.lastIndexOf("&sleep=")) + magic;
         }
       }
       setInterval(updateImage, sleep * 1000);
     }
    </script>
  </body>
</html>
